In [5]:
#list of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [20]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(f"{school}\n")

{'High School': 'Griffin', 'Type': 'District'}

{'High School': 'Figueroa', 'Type': 'District'}

{'High School': 'Wilson', 'Type': 'Charter'}

{'High School': 'Wright', 'Type': 'Charter'}

In [21]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [22]:
# add the pandas dependency
import pandas as pd

In [24]:
#create a pandas series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [25]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [26]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [27]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [29]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [30]:
#add the list to a new DataFrame.
schools_df["School ID"] = school_id

#print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [33]:
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

In [34]:
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [36]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict_df = pd.DataFrame()

In [42]:
high_schools_dict_df["School ID"] = school_id
high_schools_dict_df["school_name"] = school_name
high_schools_dict_df["type"] = type_of_school
high_schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [44]:
schools_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [45]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [46]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [47]:
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [48]:
school_id_df = pd.DataFrame()

In [50]:
school_id_df[school_id]

KeyError: "None of [Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')] are in the [columns]"

In [51]:
school_name = [hi, no, so, to, po, fo, go,oo,lo,zo,tr,sa,cx,hm]

NameError: name 'hi' is not defined

In [60]:
school_name = ["hi", "no", "so", "to", "po", "fo", "go","oo","lo","zo","tr","sa","cx","hm","love"]

In [61]:
type = ["district","district","district","district","district","district","district","charter","charter","charter","charter","charter","charter","charter","charter"]

In [54]:
school_df = pd.DataFrame()

In [55]:
school_df["school id"] = school_id

In [59]:
school_df["school_name"] = school_name

ValueError: Length of values (14) does not match length of index (15)

In [58]:
school_df

    school id
0           0
1           1
2           2
3           3
4           4
5           5
6           6
7           7
8           8
9           9
10         10
11         11
12         12
13         13
14         14

In [62]:
school_df["school_name"] = school_name
school_df["type"] = type

In [63]:
school_df

    school id school_name      type
0           0          hi  district
1           1          no  district
2           2          so  district
3           3          to  district
4           4          po  district
5           5          fo  district
6           6          go  district
7           7          oo   charter
8           8          lo   charter
9           9          zo   charter
10         10          tr   charter
11         11          sa   charter
12         12          cx   charter
13         13          hm   charter
14         14        love   charter